* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

.header {
  width: 100%;
  height: 90px;
  background-color: black;
  display: flex;
  align-items: center;
  padding: 0 40px;
}

.header div {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header div:nth-child(1) p {
  color: white;
  font-size: 32px;
}

.header__nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  width: 100%;
  height: 400px;
}

.main__hero {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("./public/pexels-pixabay-237272.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.main__hero div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main__hero div h1 {
  font-size: 52px;
  color: white;
}

.main__hero div p {
  color: white;
  margin-top: 16px;
}

.main__hero div a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  color: black;
  text-decoration: none;
  background-color: white;
  width: 200px;
  height: 44px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  border: 1px white solid;
  transition: all 0.5s;
}

.main__hero div a:hover {
  background-color: transparent;
  border: 1px white solid;
  color: white;
}

.main__contact {
  width: 100%;
  height: 500px;
  background-color: rgb(12, 12, 12);
}

.main__contact div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__contact div form {
  background-color: rgb(32, 32, 32);
  padding: 28px 20px;
  border-radius: 8px;
  width: 300px;
}

.main__contact div form h3 {
  font-size: 32px;
  color: white;
  text-align: center;
}

.main__contact div form div {
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.main__contact div form div label {
  align-self: start;
  color: white;
  font-weight: 600;
}

.main__contact div form div input {
  width: 100%;
  height: 28px;
  border-radius: 4px;
  outline: none;
  background-color: rgba(80, 80, 80, 0.4);
  border: none;
  padding: 0 12px;
  color: white;
}

.main__contact div form div textarea {
  width: 100%;
  height: auto;
  border-radius: 4px;
  outline: none;
  background-color: rgba(80, 80, 80, 0.4);
  border: none;
  padding: 12px 12px;
  color: white;
}

.main__contact div form button {
  margin-top: 28px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: rgb(32, 95, 64);
  color: white;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.main__contact div form button:hover {
  background-color: rgb(44, 131, 88);
}

@media screen and (max-width: 400px) {
  .header__nav {
    display: none;
  }
}
